In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('seoul-metro-2015.logs.csv')

In [4]:
a.shape

(2007500, 4)

In [6]:
a.head()

                       timestamp  station_code  people_in  people_out
0  2015-01-01T05:00:00.000+09:00           150        441         392
1  2015-01-01T06:00:00.000+09:00           150        399        1396
2  2015-01-01T07:00:00.000+09:00           150        572        1391
3  2015-01-01T08:00:00.000+09:00           150       1106        1913
4  2015-01-01T09:00:00.000+09:00           150       1474        2351